body {
    background-color: gold;
    color: black;
}
nav ul {
    display: flex;
    flex-wrap:wrap;
    margin:0;
    padding:0;
    z-index:10;
}
nav li {
    list-style:none;
    background-color:white;
    color:slategrey;
    margin:0;
    flex:1;
    min-width:200px;
    text-align:center;
    display:flex;
    position:relative;
}
nav a, nav a:visited {
    text-decoration:none;
    width:100%;
    padding:8px 0px;
    color:black;
}
nav a:hover, nav a.active{
    color: white;
    background-color: rgb(54, 69, 79);
}
.dropdown-content {
    position:absolute;
    top:37px;
    width:100%;
    display:none;
    z-index:20;
}
nav li:hover .dropdown-content {
    display:block;
}
.dropdown-content a {
    font-weight:bold;
}
.dropdown-content ul {
    flex-dirextion:column;
}